/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');
a.navbar-brand { white-space: normal; text-align: center; word-break: break-all; }

/* Provide sufficient contrast against white background */
a { color: #0366d6; }
    a, a:hover { color: black; text-decoration: none }
.btn-primary { color: #fff; background-color: #1b6ec2; border-color: #1861ac; }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link { color: #fff; background-color: #1b6ec2; border-color: #1861ac; }
.bg-custom { background: #80006e }
.nav-link { background: #FFFF; color: #000; transition: all ease-in-out .15s; padding: 50px 5px; font-weight: 600 }
    .nav-link:hover { background: #9a0167;color:#FFF !important; transition: all ease-in-out .15s }
        /* Sticky footer styles
-------------------------------------------------- */
        html { font-size: 14px; }

@media (min-width: 768px) {
    html { font-size: 16px; }
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

button.accept-policy { font-size: 1rem; line-height: inherit; }

/* Sticky footer styles
-------------------------------------------------- */
html { position: relative; min-height: 100%; }

body { /* Margin bottom by footer height */ margin-bottom: 60px; }
.footer { width: 100%; white-space: nowrap; line-height: 60px; /* Vertically center the text there */ }


@import url('https://fonts.googleapis.com/css?family=Parisienne|Quicksand&display=swap');
html, body { height: 100%; margin: 0; font-family: Montserrat }
.lead { font-family: 'Quicksand'; }
.header-bar { position: relative; width: 50%; min-width: 300px; height: 50px; border: 10px solid transparent; border-top: 10px solid #fffa; border-left: 10px solid #fffa; box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25) inset; }
    .header-bar::after { content: ''; position: absolute; top: -10px; right: -10px; width: 30%; height: 49px; border: 10px solid transparent; border-bottom: 10px solid #fffa; border-right: 10px solid #fffa; transition: 0.3s linear all; }
    .header-bar > .logo { position: absolute; top: calc(50% - 20px); left: 10px; transform: translateY(-50%); color: #fffc; font-family: 'Parisienne', cursive; cursor: default; user-select: none; }
.slider-menu { position: absolute; top: 0; right: 0; display: flex; list-style-type: none; margin: 0; padding: 0; z-index: 1; }
    .slider-menu > li { display: inline-flex; padding: 14px; margin-left: 2px; font-family: 'Quicksand', sans-serif; color: #fff; cursor: pointer; transition: 0.3s linear all; user-select: none; }
        .slider-menu > li:hover { color: #faa; box-shadow: 0 50px 5px rgba(0, 0, 0, 0.15) inset; }
.aeu-signature { position: fixed; top: 5px; left: 50%; transform: translate(-50%); font-size: 15px; line-height: 30px; background-color: #fff; padding: 5px 10px; border-radius: 25px; box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); }
.aeu-signature { font-family: "Quicksand"; }
    .aeu-signature > img { height: 30px; }

.form-group > label { font-weight: 900; }

/*Images*/
.logo { max-width: 150px; height: auto; }

.profile { max-width: 70%; }


/* maps */

#map { width: 100%; height: 350px; }

/* maps event overview */

.localMap { height: 250px; width: 100% }
.event-overview-detail-wrapper { min-height: 250px; }
.date-info { position: relative; padding-top: 38px; font-size: 18px; }
.ev-tit-desc h2 {font-weight:900}
.ev-tit-desc p {font-size:15px; font-weight:600}

.carousel-item {height:400px}
.event-overview-detail-wrapper .right-side i { font-size: 35px; color: darkgrey; }
    .event-overview-detail-wrapper .right-side i:hover { color: #80006e }
.fa-map-marker-alt {color: darkred;}