@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Tuple<Event, InternalUser>


@if (Model.Item2 != null && Model.Item1.OrganiserId == Model.Item2.Uuid)
{
    <div class="container">
        <div class="row d-flex justify-content-center">
            <form>
                <div class="form-group">
                    <label for="title">Naam:</label><br>
                    <input type="text" id="title" name="title" value=@Model.Item1.Title><br>
                </div>
                <div class="form-group">
                    <label for="description">Beschrijving:</label><br>
                    <input type="text" id="description" name="description" value=@Model.Item1.Description><br>
                </div>
                <div class="form-group">
                    <label for="start">Begin:</label><br>
                    <input type="date" id="start" name="start" value=@Model.Item1.Start><br>
                </div>
                <div class="form-group">
                    <label for="end">Einde:</label><br>
                    <input type="date" id="end" name="end" value=@Model.Item1.End><br>
                </div>
                <input type="submit" value="opslaan" id="submit">
            </form>
        </div>
    </div>
}
else
{
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div>
                <label>Naam:</label><br>
                <label>@Model.Item1.Title</label><br>
            </div>
            <div>
                <label>Beschrijving:</label><br>
                <label>@Model.Item1.Description</label><br>
            </div>
            <div>
                <label>Begin:</label><br>
                <label>@Model.Item1.Start</label><br>
            </div>
            <div>
                <label for="end">Einde:</label><br>
                <label>@Model.Item1.End</label><br>
            </div>
        </div>
    </div>
}